body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  
}

.container {
  display: flex;
  height: 100vh;
  background-color:burlywood
}

.left-panel {
  width: 60%;
}

.left-panel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.right-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-switch {
  margin-bottom: 20px;
}

.form-switch button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  background: #eee;
}

.form-switch .active {
  background: #4285f4;
  color: #fff;
}

form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

form h2 {
  text-align: center;
}

form input {
  padding: 10px;
  margin: 10px 0;
}

form button {
  padding: 10px;
  border: 10%;
  background: #4285f4;
  color: #fff;
  cursor: pointer;
  
}
button:hover{
    color:green
}
